<h1>List View!</h1>


<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<br>
<br>
<br>
<%= link_to "create a new list", new_list_path %>
<%= link_to "see all the movies", movies_path %>
